/* BODY FORMATTING */
body {
  text-align: center;
  background-color: bisque;
}

/*Center text on the Jumbotron and the table rows*/
.jumbotron, tr{
    text-align: center;
    padding: 1rem 1rem;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#modal-holder{
    /*overflow: scroll;*/
}

.fas, .far {
  color: #cd0000;
}
  
  /* Modal Content */
  .modal-content {
    /*background-color: #fefefe;*/
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 95%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/* AD HOC BOOTSTRAP CAROUSEL FORMATTING */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  transition: all 0.2s ease-out;
}

.carousel-caption-like {
  position: absolute;
  right: 10%;
  top: 0%;
  z-index: 15;
  text-align: right;
  font-size: 3em;
}

.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 10%;
  color: #fff;
  text-align: center;
  opacity: .5;
  transition: opacity .15s ease;
}

/* carousel fullscreen - vertically centered caption*/

.carousel-fullscreen .carousel-caption {
  top: 50%;  
  bottom: auto;
  -webkit-transform: translate(0, -50%); 
  -ms-transform: translate(0, -50%); 
  transform: translate(0, -50%);
}

.carousel .carousel-item {
  transition-duration: 0.6s;
}

/* original solution by https://codepen.io/Rowno/pen/Afykb */
/* NEED TO TEST FIRST */
/* .carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
} */

/* SOURCED FROM */
/* https://bootsnipp.com/snippets/35V6b */


/* BUTTON FORMATTING */

.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on #shopping-list-value.form-control:focus, 
.add-on #recipe-value.form-control:focus  {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc;
}
.col-auto {
  padding-right: 0px;
  padding-left: 5px;
}

/* SOURCED FROM */
/* http://jsfiddle.net/chriscoyier/KVjFQ/42/ */


h3.card-title {
  color: #cd0000;
  font-size: 1.5em;
  letter-spacing: -2px;
  text-align: left;
  padding: .15em .2em .15em 1em;
}
h4.card-title, .card-header {
  color: #cd0000;
  font-size: 2em;
  letter-spacing: -2px;
  text-align: center;
  padding: .5em 1em .5em 1em;
}
h5.card-title, .table-head {
    color: #cd0000;
    font-size: 1.25em;
    letter-spacing: -2px;
    text-align: left;
    padding: 0em .5em 0em .5em;
  }
button.card-title {
    color: #cd0000;
    font-size: 1.25em;
    letter-spacing: -2px;
    text-align: left;
    padding: 0em .5em 0em .5em;
  }
  .list {
    color: #555;
    font-size: 12px;
    padding: 0 !important;
    font-family: courier, monospace;
    border: 1px solid #dedede;
    position: relative;
    box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5);   
  }
  .list li, td {
    list-style: none;
    text-align: left;
    border-bottom: 1px dotted #ccc;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 10px 5px 10px 50px;
    text-transform: capitalize;
  }
  .list li:hover {
    background-color: #eee;
    -webkit-transition: 0.2s;
    -moz-transition:    0.2s;
    -ms-transition:     0.2s;
    -o-transition:      0.2s;
  }
  .list li:last-child {
    border-bottom: 0;
  }
  .list:before {
    content: "";
    border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    width: 2px;
    position: absolute;
    height: 100%;
    left: 25px;
  }

/*.card-head {
    color: #cd0000;
    font-size: 2em;
    letter-spacing: -2px;
    text-align: center;
    padding: 0em .5em 0em .5em;
    font-family: courier, monospace;
  }*/
  td {
      font-family: courier, monospace;
  }

  h4.card-header{
    font-family: courier, monospace;
    font-weight: 500;
    line-height: 1.2
  }
  /*.checker:before {
    content: "";
    border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    width: 2px;
    position: absolute;
    height: 7%;
    left: 45px;
  }*/
.checker{
    margin-left: 30px;
}
#line{
    content: "";
    border-left: 1px solid #ffaa9f;
    border-right: 1px solid #ffaa9f;
    width: 2px;
    position: absolute;
    height: 81%;
    left: 45px;
}
#map-holder{
  height:25px;
  margin-top: 15px;
}
#map-head{
  height:90px;
}
.google-map-small{
  height:20px;
  width:100%;
}
.google-map-tall{
  height:400px;
  width:100%;
}
.address{
  margin-left:40px;
}

